<div class="row banner">
    <div class="col-12">
      
    </div>
  </div>


<div class="container">
    <div class="row">
        <div class="col cardholder" *ngFor="let biography of biographys;">
            <div class="card" style="width: 18rem;">
                
                <div class="card-body">
                  <a routerLink="/biographys/{{biography._id}}"> <h4>{{biography.firstname}}{{biography.lastname}}</h4></a>
                  
                  <br> 
                </div>
            </div>
        </div>
      </div>
    <br> <br> 
</div>