<div class="row banner">
    <div class="col-12">
      <h1>This is for the Staff Members</h1>
    </div>
  </div>
<div class="row">
    <div class="col-12 col-lg-8">
       
    </div>
</div>
<div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center" >
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post" (ngSubmit)= "adminCheck(login)">
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input type="text" name="username" id="username" class="form-control" [(ngModel)] = "login.username">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control" [(ngModel)] = "login.password" >
                        </div>
                        <div class="form-group">
                            
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div> 
    