<div class="row banner">
    <div class="col-12 d-flex justify-content-center">
      <h1>About my site</h1>
    </div>
  </div>
  <br>
  <img src="../../assets/images/LOGO.PNG" class="img-fluid" alt="biography online">

    <div class="col-12 col-lg-8" id="aboutpara">
      <br>
      <br>
        <h5>Every life has a story. Biography.com captures the most gripping, 
          surprising and fascinating stories about people. The last fateful day. 
          The decision that changed everything. The moment of cheating death. 
          The biggest break. The defining opportunity. The most shattering failure. 
          The unexpected connection. With biographies and daily features that highlight newsworthy, 
          compelling and surprising points-of-view, we are the digital source for true stories about 
          people that matter.</h5>
    </div>

