<div class="row banner">
    <div class="col-12">
      <h1>detail page works</h1>
    </div>
  </div>
<div class="row">
  <div class="col-12 col-md-8">
      <h1>{{newBiography.firstname}}</h1>
      <h1>{{newBiography.lastname}}</h1>
      <p><b>Country:</b> {{newBiography.country}}</p>
      <p><b>Language:</b> {{newBiography.language}}</p>
      <p><b>Age:</b> {{newBiography.age}}</p>
      <p><b>Height:</b> {{newBiography.height}}</p>
      <p><b>Marital Status:</b> {{newBiography.marital}}</p>
      <p><b>Description:</b> {{newBiography.message}}</p>
  </div>
</div>
